*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

/*SETTING NAV*/

nav{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100vw;
    height: 70px;
    background-color: white;
    position: fixed;
    z-index: 900;
}


/*setting menu*/

.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    gap: 30px;
    padding: 10px;
    margin: 0 10px;

}

a{
    text-decoration: none;
    color:grey;
}


/*specifiche menu di destra*/
.destro{
    justify-content: flex-end;
}

button{
    background-color: blue;
    color: white;
    border-color: transparent;
    padding: 5px 10px;
}


/*IMPOSTAZIONE DEL HEDER*/

header{
    width: 100%7;
    height: 100vh;
    padding-top: 70px;

}

#bg-coloro-jambo{
    background-color: rgba(82, 152, 205, 0.5);
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


}


#contenitorejb{
    width: 80%;

}

/*titolo header*/
h1{
    margin-top: 50px;
    font-size: 60px;
    font-weight: 900;
  
}


/*settin contenuto testo e immagine jambo*/
#jumbo{
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 20px;
    justify-content: center;

    /*DEBUG
    background-color: aqua;*/
 
}

.jb {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
}


.arrow{
    font-size: 50px;
    font-weight: 900;
}

.jb-right{
    display: inline;

}


.jb > img{
    width: 800px;

}



/*IMPOSTAZIONE DEL MAIN*/

main{
    margin: 50px auto;
    width: 70%;
  
  
}

section{
    /*DEBUG*/
    height: 300px;
    background-color: red;
    border: 3px solid black;
}


