/*IMPOSTAZIONE DEL MAIN*/

main{
    margin: 0px auto;
    width: 70%;
  
}


section{
    margin: 150px 0;
    width: 100%;
    /*DEBUG*/
  
   
}


/*SETTING PRIMA SEZIONE : Scelta del piano*/
h2{
    margin-bottom: 40px;
    font-size: 30px;

}


#bottonicircolari{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
   
}

#bottonicircolari > div{
    display: flex;
    gap: 10px;
}


.circle{
    background-color: white;
    border-radius: 100px;
    border-color: rgb(145, 145, 146);
}

#bottonicircolari > div:hover .circle{
    border: solid 3px blue;
}



/*colonne con la scelta piano*/

#contenitor-col{
    min-height: 800px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    text-wrap: wrap;
    gap: 30px;
}


.col{
    width: calc(100%/ 3);
    border: solid 1px;
    border-color: rgb(145, 145, 146);

}

main h4{
    width: 100%;
    border-bottom: solid 1px;
    border-color: rgb(145, 145, 146);
    display: flex;
    padding: 5px 40px;
    justify-content: center;
}

ul{
    list-style-type: none;
}

.col ul{
  padding: 30px 40px;
  
}


h3{
    font-size: 25px;
}


/*caratteristiche degli elementi di "ul" nella sezione Scegli il tuo piano*/ 
li > span{
    display: block;
    margin-bottom: 20px;
}

.type{
    margin: 25px 0px;

}

.prezzo {
    font-weight: bold;
    margin: 5px 0;
}

.durata{
    margin: 5px 0;
    color: rgb(149, 154, 160);
}

.utenti{
    margin: 40px 0 10px 0;
}

.spazio-archivio{
    margin: 20px 0;

}

.condivisione{
    margin-bottom: 50px;
  

}

li > button {
    margin-bottom: 30px;
    width: 100%;

}

.col ul > hr{
    margin: 50px 0;
    border-color: rgba(194, 194, 194, 0.308);
    width: 60px;
}

.p-salienti{   
    margin: 20px 0 50px 0;
    font-weight: bold;

}


i{ 
    float: left;
    padding: 5px 5px 5px 0px;


}

.check-blu{
    color: blue;

}



/*setting la riga sotto le tre colonne*/ 

#riga{
    width: 100%;
    margin: 40px 0;
    border: solid 1px;
    border-color: rgb(145, 145, 146);
    position: relative;

}

#bt-riga{
    position: absolute;
    top: 60px;
    right: 20px;
}

#ul-riga{
    width: 70%;
}


/*IMPOSTAZIONI DELLA SECONDA SEZIONE 
2) Entra In contatto con partner Dropbox */

#partner-img{
    width: 650px;
    float: left;
    margin-right: 30px;
}

.bt-bianco{
    background-color: white;
    color: grey;
    border-color: rgb(172, 171, 171);
}

#sec2-text{
    padding-top: 30px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
}



/*IMPOSTAZIONI DELLA TERZA SEZIONE 
3) Operazioni esceguibili con Dropbox */

#cont-operazioni-drx{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    width:100%;
}

.col-operaz-drx{
    width: calc((100%/ 3) - 40px);
    margin: 30px 40px 30px 0;

}

.col-operaz-drx > p{
    margin-top: 20px;

}

.img-business{
    width: 300px;
}




/*IMPOSTAZIONI DELLA TERZA SEZIONE 
4) Numero di clienti e Scopri di più */


#nr-clienti{
    width: 40%;
}



/*IMPOSTAZIONI DELLA TERZA SEZIONE 
5) Scroll immagini */
article{
    background-color: rgb(151 202 226);
    height: auto;
}

#scroll-img{
    width: 100%;
    margin: 30px 0;
}


.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    justify-content: stretch;
  }

.grid{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}



.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    width: calc(100% /2);
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
    
  
  }


.item-grande{
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }


.grid-item > img{
    object-fit: contain;
    max-width: 100%;
    height: auto;
    filter: invert(1);
  }

#designit{
    background-color: rgb(52, 182, 132);
    color: white;
    border: solid 5px rgb(71, 228, 168);
  }


#arizona{
    background-color: rgb(124, 31, 31);
  }


#uni-of-florida{
    background-color: rgb(0, 174, 255);
}


#topps{
    background-color: red;
}



/*Grid centrale*/

.centrale{
    min-height: 500px;
    background-color: aliceblue;

}


.item-grande{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.item-grande > img{
    filter: none;
    max-width: 50%;
    height: auto;
}

.item-grande > hr{
    width: 100px;
    color: gray;
    filter: blur(0.5px);

}



/*grid destra*/ 
#bicycle{
    background-color: orangered;
}

#hearst{
    background-color:rgb(151 202 226);
}


#lonely{
    background-color: darkblue;
   

}

#clear-channel{
    background-color: yellow;
}

#bottom-of-scroll{
    margin: 0px auto;
    width: 70%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

#bottom-of-scroll > h2{
    color: #700f0f;
    width: 50%;
}


#bottom-of-scroll > button{
    border-color: transparent;
}


/* IMPOSTAZIONI FOOTER 
6)Domande Frequenti  */

#domande{
    margin: 100px auto;
    width: 70%;

}

.question{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    
}

.question > .fa-angle-down{
    padding-right: 30px;
}


/*FOOTER 
8)Menù piè pagina*/  

#footer-bgblack{
    margin-bottom: 0;
    width: 100%;
    min-height: 500px;
    background-color: black;
    color: white;
}

#margin-footer{
    width: 80%;
    margin: 0 auto; 
}


#contenitore-menu-footer{
    display: flex;
    margin: 0px auto;
    padding: 60px 0;
    position: relative;
    
}
.col-menu-footer{
    width: calc(100% / 5);
  
}


footer h4{
    padding-left: 40px;
    font-size: 20px;
    margin: 30px 0;
}

footer ul{
    line-height: 35px;
}


#footer-bgblack hr{
    width: 120px;
    margin-left: 40px;
     
}



#chose-lenguage{
    margin: 40px;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 10px;
}


#lingua{
    display: inline-block;
    text-decoration: none;
    color: rgb(190, 190, 190);

}







