/*IMPOSTAZIONE DEL MAIN*/

main{
    margin: 50px auto;
    width: 70%;
  
  
}

section{
    /*DEBUG*/
    min-height: 1500px;
    border: 3px solid black;
}


/*SETTING PRIMA SEZIONE : Scelta del piano*/
h2{
    margin-bottom: 40px;

}


#bottonicircolari{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
   
}

#bottonicircolari > div{
    display: flex;
    gap: 10px;
}


.circle{
    background-color: white;
    border-radius: 100px;
    border-color: rgb(145, 145, 146);
}

#bottonicircolari > div:hover .circle{
    border: solid 3px blue;
}

/*colonne con la scelta piano*/

#contenitor-col{
    min-height: 800px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
}


.col{
    border: solid;
    border-color: rgb(145, 145, 146);

}

.col > h4{
    width: 100%;
    border-bottom: solid;
    border-color: rgb(145, 145, 146);
    padding: 5px 40px;
}



ul{
  list-style-type: none;
  padding: 5px 40px;
}


/*caratteristiche degli elementi di ul*/ 


